* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
}

/* #arriba h1 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: auto;
    margin-left: 0;
    font-size: 23px;
  } */
#arriba p {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: auto;
  margin-left: 30px;
  font-size: 23px;
}

#links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 20px;
}
#links li {
  margin: 0;
  padding: 0;
}
#links li:not(:last-child)::after {
  content: "|";
  margin: 0 4px;
  color: #aaa;
}
#links li a {
  text-decoration: none;
  color: #aaa;
  font-size: 10px;
}
#links li a:hover {
  color: black;
}

/*MAIN PAGE*/
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img {
  max-width: 100%;
  filter: grayscale(60%);
}

h1 {
  font-size: 2em;
  color: black;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

#botones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.botongaleria button {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
}

.botoncontacto button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  margin-left: 10px;
}

.botongaleria button:hover {
  background-color: #0e79b2;
}

.botoncontacto button:hover {
  background-color: #0e79b2;
  color: #fff;
  border-color: #0e79b2;
}

#proyecto {
  margin-top: 90px;
  /* margin-bottom: 90px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
#proyecto img {
  max-width: 100%;
  /* filter: grayscale(70%); */
}

#enlaces ul {
  margin-bottom: 90px;
  list-style-type: none;
  padding: 20;
}
#enlaces li {
  display: block;
  font-weight: bold;
  margin-bottom: 30px;
}
#enlaces a {
  font-size: 60px;
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease;
}
#enlaces a:hover {
  color: black;
}

/*footer general*/
#footer {
  background-color: black;
  margin-top: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 3px;
}
#footer p {
  margin-top: 0;
  color: white;
  font-size: 10px;
  text-align: center;
}

/*NOSOTROS*/
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}
.nosotros h1 {
  font-size: 3rem;
  margin-top: 200px;
  margin-bottom: 30px;
}
.nosotros p {
  font-size: 15px;
  margin-bottom: 100px;
  width: 70%;
  color: black;
}
.nosotros img {
  width: 100%;
  margin: 0;
}
@media (max-width: 900px) {
  .nosotros h1 {
    margin-top: 50px;
  }
}

#enfoques {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: black;
  padding: 30px;
  gap: 50px;
}

@media (max-width: 600px) {
  #enfoques {
    grid-template-columns: 1fr;
  }
}
h2 {
  color: white;
}

p {
  color: white;
}

/*Footer Nosotros*/
#footernosotros {
  background-color: black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footernosotros h1 {
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 3px;
}
#footernosotros p {
  margin-top: 0;
  margin-bottom: 5px;
  color: white;
  font-size: 10px;
  text-align: center;
}
@media (max-width: 600px) {
  #footernosotros {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*GALERIA*/
.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  text-align: center;
}
.galeria h1 {
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 70px;
}
.galeria img {
  max-width: 100%;
}
.galeria h1 {
  font-size: 2em;
  color: black;
}
.galeria div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.galeria img {
  width: 25%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  filter: grayscale(100%);
  transition: filter 0.3s;
  position: relative;
}
.galeria img:hover {
  filter: none;
}
.galeria img::after {
  content: attr(alt);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}
.galeria img:hover::after {
  opacity: 1;
}
@media (max-width: 900px) {
  .galeria h1 {
    margin-top: 50px;
  }
}

/*Titulos, texto e imagenes para seccion equipo*/
#equipo h1 {
  margin-top: 110px;
  margin-bottom: 150px;
  font-size: 2.5rem;
}
@media (max-width: 600px) {
  #equipo h1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.zaha {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 10px;
}
.zaha p, .zaha h2 {
  color: black;
  margin-right: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}
@media (min-width: 601px) and (max-width: 900) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 901px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.zaha img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 50px;
  justify-self: center;
}

.text {
  text-align: start;
}
@media (max-width: 600px) {
  .text {
    margin-left: 40px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .img {
    align-content: center;
  }
}
.frank {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 100px;
  padding: 20px;
}
.frank .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.frank .grid-container img {
  grid-column: 1;
  grid-row: 1;
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 50px;
  justify-self: center;
}
.frank .grid-container p, .frank .grid-container h2 {
  color: black;
}
.frank .grid-container .text {
  grid-column: 1;
  grid-row: 2;
  text-align: start;
}
@media (max-width: 600px) {
  .frank .grid-container .text {
    text-align: center;
    margin-right: 30px;
  }
  .frank .grid-container .text .text {
    margin-left: 0px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .frank .grid-container .text {
    text-align: start;
  }
  .frank .grid-container .text .text h2 {
    margin: 0px;
  }
}
@media (min-width: 901px) {
  .frank .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .frank .grid-container img {
    grid-column: 2;
    grid-row: 1/span 2;
  }
  .frank .grid-container .text {
    grid-column: 1;
    grid-row: 1;
    margin-left: 50px;
  }
}

.koolhaas {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 10px;
}
.koolhaas p, .koolhaas h2 {
  color: black;
  margin-right: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}
@media (min-width: 601px) and (max-width: 900) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 901px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.koolhaas img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 50px;
  justify-self: center;
}

.koolhaas text {
  text-align: start;
}
@media (max-width: 600px) {
  .koolhaas text {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .img {
    align-content: center;
  }
}
/*CONTACTO*/
.google {
  width: 100%;
  height: 200px;
  filter: grayscale(100%);
  margin-bottom: 0;
  margin-top: 60px;
  border-top: 2px solid black;
}
.google iframe {
  width: 100%;
  height: 100%;
}

/*formulario*/
.contacto-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

@media (max-width: 600px) {
  .contacto-container {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .contacto-container {
    grid-template-columns: 1fr 1fr;
    padding: 30px;
  }
}
@media (min-width: 901px) {
  .contacto-container {
    grid-template-columns: 1fr 1fr;
    padding: 30px;
  }
}
@media (min-width: 901px) and (max-width: 600px) {
  .form h1 {
    margin-top: 70px;
  }
}
.contacto h2 {
  color: black;
}

.contacto p {
  width: 50%;
  margin-top: 40px;
  color: black;
}

.contacto-ico {
  margin-top: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 40px;
}
.form-group label {
  margin-bottom: 5px;
}

.form h2 {
  color: black;
}

/*botones*/
.buttons {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.botonenviar {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.botonenviar:hover {
  background-color: #0e79b2;
  color: #fff;
  border-color: #0e79b2;
}

.botonborrar {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.botonborrar:hover {
  background-color: #0e79b2;
  color: #fff;
  border-color: #0e79b2;
}

/*metodos de contacto iconos y ultimo texto*/
#equipo {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 30px;
}

.contacto-item {
  display: flex;
  align-items: center;
}
.contacto-item i {
  margin-right: 20px;
  padding-top: 40px;
}

/*links del footer*/
nav ul#foot {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 17px;
}
nav ul#foot li {
  padding: 0;
}
nav ul#foot li:not(:last-child)::after {
  content: "|";
  margin: 0 4px;
  color: #ffffff;
}
nav ul#foot li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 10px;
}
nav ul#foot li a:hover {
  color: #5a92b1;
}
@media (max-width: 600px) {
  nav ul#foot {
    flex-wrap: wrap;
    font-size: 10px;
  }
  nav ul#foot li {
    margin: 5px;
  }
  nav ul#foot li:not(:last-child)::after {
    content: none;
  }
}

/*siguenos footer*/
#siguenos {
  display: flex;
  align-items: center;
  flex-direction: center;
  margin-top: 30px;
  color: white;
  margin-bottom: 30px;
}
#siguenos p {
  margin-top: 4px;
}

.siguenoslink li {
  list-style: none;
}

.facebook a, .instagram a, .twitter a, .linkedin a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 3px;
}

#siguenos li a:hover {
  color: black;
}
#siguenos .facebook a:hover {
  color: rgb(42, 42, 255);
}
#siguenos .instagram a:hover {
  color: rgb(255, 0, 106);
}
#siguenos .twitter a:hover {
  color: rgb(0, 132, 255);
}
#siguenos .linkedin a:hover {
  color: rgb(169, 40, 255);
}

.container-fluid {
  list-style: none;
  background-color: none;
}

#navbarNav {
  list-style: none;
}
#navbarNav li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
#navbarNav li a {
  text-decoration: none;
  color: #aaa;
  font-size: 12px;
}
#navbarNav li a:hover {
  color: black;
}

/*# sourceMappingURL=style.css.map */
