* {
  margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: red;
}

header {
  display: flex;
  align-items: center;

}

/* #arriba h1 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: auto;
    margin-left: 0;
    font-size: 23px;
  } */
  
  #arriba p {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: auto;
    margin-left: 30px;
    font-size: 23px;
  }


  #links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    height: 0;
    font-size: 20px;
  }
  
  #links li {
    margin: 0;
    padding: 0;
  }
  
  #links li:not(:last-child)::after {
    content: "|";
    margin: 0 04px;
    color: #aaa
  }
  
  #links li a {
    text-decoration: none;
    color: #aaa;
    font-size: 10px;
  }
  
  #links li a:hover {
    color: black;
  }

/*MAIN PAGE*/

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logo img {
    max-width: 100%;
    filter: grayscale(60%);
  }

h1 {
    font-size: 2em;
    color: green;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background-color: yellow;

    
}

  #botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .botongaleria button {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
  }
  
  .botoncontacto button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    margin-left: 10px;
  }

  .botongaleria button:hover {
    background-color: #0e79b2;
  }
  
  .botoncontacto button:hover {
    background-color: #0e79b2;
    color: #fff;
    border-color: #0e79b2;
  }
  
  #proyecto {
    margin-top: 90px;
    /* margin-bottom: 90px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }
  
  #proyecto img {
    max-width: 100%;
    /* filter: grayscale(70%); */
  }

  #enlaces ul {
    margin-bottom: 90px;
    list-style-type: none;
    padding: 20;
  }
  
  #enlaces li {
    display:block;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  #enlaces a {
    font-size: 60px;
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  #enlaces a:hover {
    color: black;
  }
  
/*footer general*/
  #footer {
    background-color: black;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 3px;
}

#footer p {
    margin-top: 0;
    color: white;
    font-size: 10px;
    text-align: center;
}

/*NOSOTROS*/

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.nosotros h1 {
  font-size: 3rem;
  margin-top: 200px;
  margin-bottom: 30px;
}

.nosotros p {
  font-size: 15px;
  margin-bottom: 100px;
  width: 70%;
}

.nosotros img {
  width: 100%;
  margin: 0;
}


#enfoques {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: white;
  margin-bottom: 0;
}

.sustentabilidad, .ambiente, .tecnicas {
  width: 30%;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.sustentabilidad p, .ambiente p, .tecnicas p {
  font-size: 11px;
}

 .sustentabilidad h2, .ambiente h2, .tecnicas h2 {
  margin-bottom: 10px;
 }

/*Footer Nosotros*/
 #footernosotros {
  background-color: black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footernosotros h1 {
color: white;
margin-top: 0;
margin-bottom: 3px;
}

#footernosotros p {
  margin-top: 0;
  margin-bottom: 5px;
  color: white;
  font-size: 10px;
  text-align: center;
}

/*GALERIA*/

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.galeria h1 {
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 70px;
}

.galeria img {
  max-width: 100%;
}

.galeria {
  text-align: center;
}
.galeria h1 {
  font-size: 2em;
  color: black;
}
.galeria div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  .galeria img {
  width: 25%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  filter: grayscale(100%);
  transition: filter 0.3s;
  position: relative;
  }
  
  .galeria img:hover {
  filter: none;
  }
  
  .galeria img::after {
  content: attr(alt);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  }
  
  .galeria img:hover::after {
  opacity: 1;
  }

/*Titulos, texto e imagenes para seccion equipo*/

#equipo h1 {
  margin-top: 150px;
  margin-bottom: 100px;
  font-size: 2.5rem;
}

.zaha h2, .frank h2, .koolhaas h2 {
  margin-left: 30px;
}

.zaha p, .frank p, .koolhaas p {
  margin-left: 30px;
  width: 70%;
}

.zaha, .koolhaas {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.zaha {
  margin-bottom: 100px;
}

.frank {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 100px;
  margin-right: 70px;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 30px;
}

.koolhaas {
  margin-bottom: 200px;
}

.zaha img, .frank img, .koolhaas img {
 width: 15%;
 margin-left: 30px;
}

.frank img {
  padding: 30px;
}

.frank p, .frank h2 {
  margin-left: 250px;
}

/*CONTACTO*/

.google {
  width: 100%;
  height: 200px;
  filter: grayscale(100%);
  margin-bottom: 0;
  margin-top: 60px;
  border-top: 2px solid black;
}

.google iframe {
  width: 100%;
  height: 100%;
}

/*formulario*/

.contacto-container {
  display: flex;
  justify-content: center;
  align-items:baseline;
  margin: 0 300px 0 300px;
}

.contacto p {
  width: 50%;
  margin-top: 40px;
}

.contacto-ico{
  margin-top: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 40px;
}

.form-group label {
  margin-bottom: 5px;
}

/*botones*/

.buttons {
  display:block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.botonenviar {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.botonenviar:hover {
  background-color: #0e79b2;
    color: #fff;
    border-color: #0e79b2;
}

.botonborrar {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.botonborrar:hover {
  background-color: #0e79b2;
    color: #fff;
    border-color: #0e79b2;
}

/*metodos de contacto iconos y ultimo texto*/

#equipo {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 30px;
}

.contacto-item {
  display: flex;
  align-items: center;
}

.contacto-item i {
  margin-right: 20px;
  padding-top: 40px;
}

/*links del footer*/

#foot {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 0;
  height: 0;
  font-size: 17px;
}

#foot li {
  padding: 0;
}

#foot li:not(:last-child)::after {
  content: "|";
  margin: 0 04px;
  color: #ffffff
}

#foot li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 10px;
}

#foot li a:hover {
  color: #5a92b1;
}

/*siguenos footer*/

#siguenos {
  display: flex;
  align-items: center;
  flex-direction: center;
  margin-top: 30px;
  color: white;
  margin-bottom: 30px;
}

#siguenos p{
  margin-top: 4px;
}

.siguenoslink li {
 list-style: none;
}

.facebook a, .instagram a, .twitter a, .linkedin a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 3px;
}

#siguenos li a:hover {
  color: black;
}

#siguenos .facebook a:hover {
  color: blue;
}

#siguenos .instagram a:hover {
  color:orangered;
}

#siguenos .twitter a:hover {
  color:rgb(0, 234, 255);
}

#siguenos .linkedin a:hover {
  color:rgb(153, 0, 255);
}