/*MAIN PAGE*/

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      max-width: 100%;
      filter: grayscale(60%);
    }
  }
  
  h1 {
    font-size: 2em;
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
  }
  
  #proyecto {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  
    img {
      max-width: 100%;
    }
  }
  
  #enlaces {
    ul {
      margin-bottom: 90px;
      list-style-type: none;
      padding: 20;
    }
  
    li {
      display: block;
      font-weight: bold;
      margin-bottom: 30px;
    }
  
    a {
      font-size: 60px;
      color: #aaa;
      transition: color 0.3s ease;
  
      &:hover {
        color: black;
      }
    }
  }
  
  @media (max-width: 800px) {
    #botones a{
      font-size: 10px;
    }
  }